/* Variables para colores */
:root{
    --blanco:#ffffff;
    --negro:#000000;
    --azulfuerte:#0087FF;
    --azulclaro:#00C5FF;
    --amarillo:#ffc672;
    --amarilloclaro:#ffe383;
    --rosa:#FF0080;
    --verdemanzana:#8DB600;
    --azuloscuro: #070764;
}


/* Snippet para box-sizing */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Sen', sans-serif;
    background-image: linear-gradient(to right, #090979 40%,#00D4FF);
}

/* Globales */

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    color: #ffffff;
    text-decoration: none;
    background-color: var(--rosa);
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px){
    .boton{
        
    }
}

/* Tamaños de letra */

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

/* Utilidades */

.nav-bg{
    background-color: rgba(0,0,0, 20%);
    margin-bottom: 2rem;
    border-radius: 2rem;
}

/* Navegacion principal */

.nav-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-principal a:last-of-type{
    margin-bottom: 2rem;
}


@media (min-width: 768px){
    .nav-principal{
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-principal a:last-of-type{
        margin-bottom: 0;
    }
}

.nav-principal a{
    display: block;
    text-align: center;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.principal{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65rem;
    position: relative;
    margin-bottom: 3rem;
}

.contenido-restaurant{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenido-restaurant h2,
.contenido-restaurant p{
    color: var(--blanco);
}

.contenido-restaurant{
    display: flex;
}

.plato{
    max-width: 40rem;
}

.descripcion-restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

@media (min-width: 760px){
    .descripcion-restaurant{
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 3rem;
    }
    .descripcion-restaurant p{
        margin: 0 10rem;
    }
}